/* You can add global styles to this file, and also import other style files */
.img-logo {
  height: 40px;
  width: 100px;
  display: block;
  background: url('assets/imgs/jampflix.png') no-repeat;
  background-size: contain;
  color: transparent;
}
