<form class="row g-3" (ngSubmit)="crudFilme()" [formGroup]="formulario">
  <div class="col-md-12">
    <label for="" class="form-label">Titulo</label>
    <input formControlName="titulo" type="text" class="form-control" id="" required>
  </div>
  <div class="col-md-6">
    <label for="" class="form-label">Sinopse</label>
    <input formControlName="sinopse" type="text" class="form-control" id="" required>
  </div>
  <div class="col-md-6">
    <label for="" class="form-label">Imagem</label>
    <div class="input-group">
      <input formControlName="imagem" type="text" class="form-control" id=""  aria-describedby="inputGroupPrepend2" required>
    </div>
  </div>
  <div class="col-md-6">
    <label for="" class="form-label">Data de Lançamento</label>
    <input formControlName="dataDeLancamento" type="date" class="form-control" id="" required>
  </div>

  <div class="col-md-6">
    <label for="" class="form-label">Duração</label>
    <input formControlName="duracao" type="time" class="form-control" id="" required>
  </div>

  <div class="col-md-6">
    <label for="idiomas" class="form-label" >Idiomas</label>
    <select formControlName="idiomas" class="form-control" id="idiomas" required>
      <option [ngValue]="idioma" *ngFor="let idioma of idiomas " >
        {{ idioma.nome }}
      </option>
    </select>
  </div>

  <div class="col-md-6">
    <label for="categorias" class="form-label" >Categorias</label>
    <select formControlName="categoria"  class="form-control" id="categorias" required>
      <option [ngValue]="categoria" *ngFor="let categoria of categorias" >
        {{ categoria.nome }}
      </option>
    </select>
  </div>

  <div class="col-md-12">
    <button class="btn btn-primary" type="submit">enviar</button>
  </div>
</form>
